[Unit]
Description=4 Envelopes uWSGI
After=syslog.target
Requires=postgresql.service

[Service]
WorkingDirectory=/home/obezpalko/src/4k
ExecStart=/home/obezpalko/src/4k/4k-37/bin/uwsgi --ini /home/obezpalko/src/4k/uwsgi.ini
ExecReload=/bin/kill -HUP $MAINPID
EnvironmentFile=/home/obezpalko/src/4k/e4.env
RuntimeDirectory=uwsgi
Restart=always
KillSignal=SIGTERM
Type=notify
StandardError=syslog
NotifyAccess=all
User=www-data
Group=www-data
RuntimeMaxSec=86400

[Install]
WantedBy=multi-user.target
