[Unit]
Description=4 Envelopes uWSGI
After=syslog.target

[Service]
ExecStart=/usr/bin/uwsgi --ini /home/obezpalko/src/4k/uwsgi.ini
# PIDFile=/var/run/uwsgi/e4.pid
ExecReload=/bin/kill -HUP $MAINPID
# Requires systemd version 211 or newer
RuntimeDirectory=uwsgi
Restart=always
KillSignal=SIGTERM
Type=notify
StandardError=syslog
NotifyAccess=all
User=www-data
Group=www-data

[Install]
WantedBy=multi-user.target
