certifi
chardet
flask
flask_login
flask_oauth
flask_oauth
flask_session
flask_sqlalchemy
flask_sqlalchemy_session
google-api-python-client
google-auth
google-auth-httplib2
google-auth-oauthlib
httplib2>=0.19.0
jinja2>=2.11.3
matplotlib
pipenv
psycopg2
requests
rsa>=4.1
sqlalchemy
URLEncoder
urllib3
# uwsgi
