{% extends "layout.html" %} {% if session.user %} {% block js %}
<script src="{{ url_for('static', filename='accounts.js') }}"></script>
{% endblock %} {% endif %} {% block body %} {% if session.user %}

<form action="{{ url_for('main_dispatcher', api='account') }}" method=post class="add-entry hidden" id="accounts">
    <dl>
        <dt>ID</dt>
        <dd><input type=text name=id class=id value="" size=4 disabled></dd>
        <dt>Title</dt>
        <dd><input type=text size=25 name=title class=form_save value=""></dd>
        <dt>Currency</dt>
        <dd><select name=currency.id class="currency currency_selector form_save"></select></dd>
        <dt>Visible</dt>
        <dd><input type="checkbox" name=visible class=form_save>
        </dd>
        <dt>Summ</dt>
        <dd><input name=balance class=form_save size=10></dd>
    </dl>
</form>

<table>
    <tr>
        <th>account <a href='#0' class="account_edit">+</a></th>
        <th>balance</th>
        <th>visible</th>

    </tr>
    {% for account in accounts %}
    <tr>
        <td>
            <a href='#{{ account.record_id }}' class="account_edit">{{ account.title }}</a>
        </td>
        <td>{{ account.balance() }} <span class="currency_id hidden">{{ account.currency_id }}</span>{{ account.currency.symbol }}</td>
        <td><input type="checkbox" class="account_visible" value="{{ account.record_id }}" {% if account.visible %}checked{% endif %}></td>
    </tr>
    {% endfor %}
</table>
{% else %} {% endif %} {% endblock %}