{% extends "layout.html" %} {% if session.user %} {% block js %}
<script>
    function json_api_call(method, url, data, func_success, func_error) {
        $.ajax({
            type: method,
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
            dataType: 'json',
            url: url,
            data: JSON.stringify(data),
            success: func_success,
            error: func_error

        });
    }

    function load_currencies(url) {
        r = ''
        $.ajax({
            dataType: "json",
            url: url,
            success: function(data) {
                $.each(data, function(key, val) {
                    r += '<option value="' + val['id'] + '">' + val['symbol'] + ' ' + val['title'] +
                        '</option>\n';
                });
                $("select[name='currency.id']").html(r);
            }
        });
    }

    $(function() {
        $(":input.account_visible").change(function() {
            var c = $(this).val();
            json_api_call(
                'POST',
                "/api/account/" + c, {
                    'visible': $(this).prop('checked')
                },
                function(data) {
                    console.log('data +' + JSON.stringify(data));
                    if (data['result'] != 'Ok') {
                        $(this).prop('checked', false);
                    }
                },
                function() {
                    $(this).prop('checked', !$(this).prop('checked'));
                }

            );
        });
        $('.account_edit').click(function() {
            var accountid = $(this).attr('href').substring(1);
            var buttons = [];
            if (accountid === '0') {
                // new account
                buttons = [{
                    text: 'Insert',
                    click: function() {
                        var data = {
                            title: $("#accounts [name='title']").val(),
                            currency: $("#accounts [name='currency.id']").val(),
                            visible: $("#accounts [name='visible']").prop('checked'),
                            sum: $("#accounts [name='sum']").val()
                        };
                        //console.log('insert' + JSON.stringify(data));
                        json_api_call('PUT', '/api/account', data,
                            function(data) {
                                location.reload();
                                $('#accounts').dialog("close");
                                return false;
                            },
                            function(data) {
                                alert('error on \n' + JSON.stringify(data));
                                $('#accounts').dialog("close");
                                return false;
                            }
                        )
                    }
                }]
            } else {
                // modify account

                buttons = [{
                    text: 'Change',
                    click: function() {
                        json_api_call('POST', '/api/account/' + accountid, {
                                title: $("#accounts [name='title']").val(),
                                currency: $("#accounts [name='currency.id']").val(),
                                visible: $("#accounts [name='visible']").prop('checked'),
                                sum: $("#accounts [name='sum']").val()
                            },
                            function(data) {
                                location.reload();
                                $('#accounts').dialog("close");
                                return false;
                            },
                            function() {
                                alert('error on \n' + JSON.stringify(data));
                                $('#accounts').dialog("close");
                                return false;
                            }
                        )

                    }
                }, {
                    text: 'Delete',
                    click: function() {
                        json_api_call('DELETE', '/api/account/' + accountid, {
                                delete: accountid
                            },
                            function(data) {
                                location.reload();
                                $('#accounts').dialog("close");
                                return false;
                            },
                            function() {
                                alert('error on \n' + JSON.stringify(data));
                                $('#accounts').dialog("close");
                                return false;
                            }
                        )
                    }
                }]
            }
            json_api_call('GET', '/api/account/' + accountid, '',
                function(data) {
                    $("#accounts [name='id']").val(data['id']);
                    $("#accounts [name='title']").val(data['title']);
                    $("#accounts [name='currency.id']").val(data['currency']['id']);
                    $("#accounts [name='visible']").prop('checked', data['visible']);

                    $("#accounts [name='sum']").val(data['sum']);
                    $('#accounts').dialog({
                        buttons: buttons
                    }).focus();
                },
                function() {}
            );



        });
        load_currencies('/api/currency');
    })
</script>
{% endblock %} {% endif %} {% block body %} {% if session.user %}

<form action="{{ url_for('main_dispatcher', api='account') }}" method=post class="add-entry hidden" id="accounts">
    <dl>
        <dt>ID</dt>
        <dd><input type=text name=id class=id value="" size=4 disabled></dd>
        <dt>Title</dt>
        <dd><input type=text size=25 name=title class=form_save value=""></dd>
        <dt>Currency</dt>
        <dd><select name=currency.id class="currency currency_selector form_save"></select></dd>
        <dt>Visible</dt>
        <dd><input type="checkbox" name=visible class=form_save>
        </dd>
        <dt>Summ</dt>
        <dd><input name=sum class=form_save size=10></dd>
    </dl>
</form>

<table>
    <tr>
        <th>account <a href='#0' class="account_edit">+</a></th>
        <th>&nbsp;</th>
        <th>visible</th>

    </tr>
    {% for account in accounts %}
    <tr>
        <td>
            <a href='#{{ account.record_id }}' class="account_edit">{{ account.title }}</a>
        </td>
        <td><span class="currency_id hidden">{{ account.currency_id }}</span>{{ account.currency.symbol }}</td>
        <td><input type="checkbox" class="account_visible" value="{{ account.record_id }}" {% if account.visible %}checked{% endif %}></td>
    </tr>
    {% endfor %}
</table>
{% else %} {% endif %} {% endblock %}