{% extends "layout.html" %} {% if session.user %} {% block js %}
<script src="{{ url_for('static', filename='currency.js') }}"></script>

{% endblock %} {% endif %} {% block body %} {% if session.user %}

<table>
    <tr>
        <th colspan="3">currency</th>

        <th>selected</th>
        <th>default</th>
    </tr>
    {% for currency in currencies %}
    <tr>
        <td>{{ currency[0].title }}</td>
        <td>{{ currency[0].symbol }}</td>
        <td>{{ currency[0].name }}</td>
        <td><input type="checkbox" class="currency_cb" value="{{ currency[0].record_id }}" {% if currency[2] %}checked{% endif %}></td>
        <td><input type="radio" class="currency_rb" name="default_currency" value="{{ currency[0].record_id }}" {% if currency[3] %}checked{% endif %}></td>
    </tr>
    {% endfor %}
</table>
{% else %} {% endif %} {% endblock %}