<!doctype html>
<title>E4</title>

<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}" />
<style type=text/css>

.currencies  { display: inline-block; width: 40%; float: right; 
                  list-style-type: none; padding: 0; font-family: monospace; 
                  margin: 0; padding-right: 3em; background-color:  #FFFFFF; font-size: 75%; text-align: right; }
.currencies li  { display: inline; padding-left: 0.3em; padding-right: 0.3em; }



.balance li, .accounts li { list-style-type: none; margin: 0; padding: 0; }
#income  { display: none; }
table#incomes_table, table#transactions_table { 
  font-size:66%;
  width:90%;
  display: inline-block;
  vertical-align: text-top;
}
#balance dl, #balance input { margin-left: 1em; font-size: 75%; }
#balance, #accounts {
  display: none;
  border-width: 2px;
  border-style: solid;
  border-color: green;
  width: 20%;  
  background-color:  #FFFFFF;
  margin-left: 3em;
}
#balance dd {
  font-family: monospace;
  text-align: right;
  margin-right: .5em;
}
</style>
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="//code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="//code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
<script src="{{ url_for('static', filename='up.js') }}"></script>
<!-- Latest compiled and minified CSS - >
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous" />
< ! -- Optional theme - >
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous" />
< ! -- Latest compiled and minified JavaScript  - >
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous" /></script>
< ! -- -->
<script>
//$( document ).ready(function() { c_update('/api/currency') ; get_balance() });
var balance_url;
balance_url = '/api/balance/0/2017-12-31'
$( document ).ready( function() { 

  update_option('.account_selector', '/api/account',['title', 'currency']);
  update_option('.period_selector', '/api/intervals');
  update_option('.currency_selector', '/api/currency');
  c_update('/api/currency');
  $('#balance input').change(function(event){
    var a = {'start_date':'', 'end_date':''};
    a[$(this).attr('name')] = $(this).val();
    a[$(this).siblings('input').attr('name')] = $(this).siblings('input').val();
    get_balance('/api/balance/0/'+a['start_date']+'/'+a['end_date']);
  });
  // get_balance(balance_url);
});

function get_balance(url){
  $.getJSON('/api/currency', function(data){
    c = [];
    $.each(data, function(c_index, currency){
      c.push('<dt>'+ currency['title'] +'</dt>')
    });
    c.push('<dt>TOTAL</dt>');
    c.push('<dt>weeks</dt>');
    c.push('<dt>weekly</dt>');
    $('#balance dl.balance').html(c.join(''));
  });
  $.getJSON(url, function(data){
    
    $.each(data, function(key, val){
      $('#balance dt').each(function(){
        if ($(this).text() == key) {
          $(this).after('<dd>'+val+'</dd>');
          // console.log($(this).text());
        }
      });
      if (['start_date', 'end_date'].indexOf(key) > -1){
        $('#balance input.'+key).val(val);
      };
    });
  });
  $.getJSON('/api/account', function(data){
    c = []
    $.each(data, function(k, v){
      
      //if (v['sum'] > 0 ) { 
        c.push('<dt>'+v['title']+ ' ' + v['currency']['title'] +'</dt><dd>'+ v['sum'] +'</dd>');
      //}
    });
    
    $('#balance dl.accounts').html(c.join(''));
  });
  
  $('#balance').show();  
}

function json_names(in_json){
  // {a: {b: {c: d}}} -> hash['a.b.c']=d
}

function get_accounts(url, title_fields=['title', 'currency.title']) {
  $.getJSON(url, function(data){
    var options = [];
    $.each(data, function(key, val){
      titles = []
      title_fields.forEach( function(t){ titles.push( (t=='title') ? val[t] : val[t]['title'])});
      options.push('<li>'+ titles.join(' ') +'</li>')
    });
    $('#accounts').html(options.join('')).show();
  })

}


function update_row(event, to_update, clean=false){
  var id, row;
  id = $(event.target).parents('tr').find("[name=id]").text();
  row = $(event.target).parents('tr');
  var today = new Date();
  var date_today = today.getFullYear()+'-'+(today.getMonth()+1)+'-'+today.getDate();
  date_today = '2017-09-11';
  // var new_row = $(event.target).parents('tr').siblings().first().clone(true);
  var first_row = $(event.target).parents('tr').siblings().first();
  //header_row.before($(event.target).parents('tr').siblings()[0]);
  //$(event.target).parents('tr').siblings().first().before(new_row);
  //console.log(header_row);
  row.find('.row_update').each(function(){
    var n , v;
    n = $(this).attr('name');
    v = $(this).text().trim();
    $('#' + to_update).find("[name='" + n + "']" ).each(function(){
      $(this).val( v )
    });
  });
  
  //$('#' + to_update + " .datepicker").each(function(){$(this).datepicker({setDate: /*$(this).text()*/'2010-10-10'})});
  var buttons=[];
  if (! clean) {
    buttons = [
      
      {text: 'Delete', click: function(){
        $.ajax({
          type: "DELETE",
          url: "/api/" + to_update + "/" + id,
          //data: "id=" + id,
          data: "",
          success: function(msg){
            row.remove();
            get_balance(balance_url);
          }
        });
        $(this).dialog( "close" );
      }},
      {text: 'Ok', click: function(){
          var data_={};
          $(this).dialog().find(".form_save").each(function(f, k){
            data_[k.name] = k.value.replace(/^\s+|\s+$/g,'');
          });
          $.ajax({
            type: "PUT",
            headers: { 
              'Accept': 'application/json',
              'Content-Type': 'application/json' 
            },
            dataType: 'json',
            url: "/api/" + to_update + "/" + id,
            data: JSON.stringify(data_),
            success: function(data){
              updated=data['updated'];
              row.find('.row_update').each(function(){
                n = $(this).attr('name');
                if ( n != 'id') {
                  sp = n.split('.');
                  switch (sp.length) {
                    case 2:
                      $(this).text(updated[sp[0]][sp[1]]);
                      break;
                    case 3:
                      $(this).text(updated[sp[0]][sp[1]][sp[2]]);
                      break;
                    default: 
                      $(this).text(updated[n]);
                  }
                }
              })
            }
          });
          $(this).dialog( "close" );
          get_balance(balance_url);
      }}
     ]

  } else {
    buttons = [
      {text: 'Insert', click: function(){
      var data={};
      $(this).dialog().find(".form_save").each(function(f, k){
        data[k.name] = k.value.replace(/^\s+|\s+$/g,'');
      });
      $.ajax({
        type: "POST",
        headers: { 
          'Accept': 'application/json',
          'Content-Type': 'application/json' 
        },
        dataType: 'json',
        url: "/api/" + to_update ,
        data: JSON.stringify(data),
        success: function(data){
          console.log(data);
          var new_row = first_row.clone(true);
          new_row.find('.row_update').each(function(){
            n = $(this).attr('name');                
            $(this).text(data[n]);
          });
          console.log(new_row);
          first_row.before(new_row);
        }
      });
      

      $(this).dialog( "close" );
      get_balance(balance_url);
     }}
     ]
  }
  
  $('#' + to_update).dialog({ buttons: buttons }).focus();
  
  $('#' + to_update).find('input.set_today').each(function(){
    
    $(this).datepicker("setDate", new Date());
    console.log($(this).datepicker());
    console.log($(this).val());
  });
 
}






$( function() {
    $( ".datepicker" ).datepicker({ dateFormat: $.datepicker.W3C, changeYear: true });

  } );

</script>
{% block js %}
{% endblock %}
<body>


<!--
<div class=accounts>    
<ul id="accounts"></ul>
</div>
-->

<div class=page>
  <h1>E4</h1>
  <div>
    <ul id="currencies" class="currencies"></ul>
    </div>

  <div class=metanav>
    {% if not session.logged_in %}
      <a href="{{ url_for('login') }}">log in</a>
    {% else %}
      <a href="{{ url_for('logout') }}">log out</a>
    {% endif %}
    </div>
  {% for message in get_flashed_messages() %}
  <div class=flash>{{ message }}</div>
  {% endfor %}
   
  {% block body %}{% endblock %}
</div>
</body>