<!doctype html>
<title>E4 dev</title>

{% block css %} {% endblock %}
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}" />
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
<script src="//code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="//code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
<script src="{{ url_for('static', filename='utils.js') }}"></script>
<script src="{{ url_for('static', filename='utils-date.js') }}"></script>
<script src="{{ url_for('static', filename='up.js') }}"></script>

{% block js %} {% endblock %}

<body>
    <div class=page>
        <div class=header>
            <h1>E4</h1>
        </div>
        <div class=nav>
            <ul>
                {% if session.user %}
                <li>
                    <a href="{{ url_for('incomes') }}">incomes</a>
                </li>
                <li>
                    <a href="{{ url_for('accounts') }}">accounts</a>
                </li>
                <li>
                    <a href="{{ url_for('currency') }}">currency</a>
                </li>
                <li>
                    <a href="{{ url_for('logout') }}">log out</a>
                </li>
                {% else %}
                <li>
                    <a href="{{ url_for('login') }}">log in</a>
                </li>
                {% endif %}
            </ul>
        </div>

        <div class=sidebar>
            {% if session.user %}
            <div class=profile>
                <a href="{{ user.link }}"><img alt="{{ user.name }}" src="{{ user.picture }}" width="64px"></a>
            </div>

            <div class=balance>
                <ul>
                    {% for account in active_accounts %}
                    <li>{{ account.title }}</li>
                    {% endfor %}
                </ul>
            </div>
            {% endif %}
        </div>

        <div class=main>
            {% block body %}{% endblock %}
        </div>
        <div class=footer>
            footer
        </div>

    </div>
</body>