{% extends "layout.html" %}
{% block js %}
<script src="{{url_for('static', filename='up.js')}}"></script>
{% endblock %}
{% block body %}
  {% if session.logged_in %}
    <form action="{{ url_for('add_entry') }}" method=post class=add-entry>
      <dl>
        <dt>Id:
        <dd><input type=text name=hidden_id id=hidden_id value=new >
        <dt>Title:
        <dd><input type=text size=30 name=title id=title>
        <dt>Currency:
        <dd><select name=currency id=currency>
        {% for c in currencies %}
        <option value="{{ c.currency_id }}"{% if c.is_default ==1 %} selected{% endif %}>{{ c.currency_index }}</option>
        {% endfor %}
        </select>
        <dt>Summ:
        <dd><input name=sum size=11 id=sum>
        <dt>Dates:
        <dd><input name=start_date size=11 id=start> <input name=end_date size=11 id=end> 
        <dd>Period:
        <dd><select name=period id=period>
        {% for p in periods %}
        <option value="{{ p.id }}">{{ p.title }}</option>
        {% endfor %}
        </select>
        <dd><input type=submit id=submit name=submit value=Insert>
      </dl>
    </form>
  {% endif %}
  <dl class=entries>
  {% for entry in entries %}
  
    <dt id="entry_{{entry.id}}" >
      <span style="font-size:125%; color: green;" id=title_{{entry.id}}>{{ entry.title|safe }}</span>
      <dd style="display:inline" >
      <span id=sum_{{entry.id}}>{{ entry.sum|safe }}</span>
      {{ entry.currency }}
       <span style="display:none" id=currency_{{entry.id}}>{{ entry.currency_id }}</span>
      {{ entry.period }}
      <span style="display:none" id=period_{{entry.id}}>{{ entry.interval }}</span>
      from <span id=start_{{entry.id}}>{{ entry.start }}</span>{% if entry.end %} till <span id=end_{{entry.id}}>{{ entry.end }}</span>{% endif %}
<a href=# onclick="update_income({{ entry.id }})">edit</a>
      {% else %}
    <dt>
      <dd><em>Unbelievable.  No entries here so far</em>
  {% endfor %}
  </dl>
{% endblock %}