body,
html {
    font-family: sans-serif;
    color: #000;
    background: #a7a09a;
    margin: 0;
    padding: 0;
}

a,
h1,
h2 {
    color: #377ba8;
}

h1,
h2 {
    font-family: 'Georgia', serif;
    margin: 0;
}

h1 {
    border-bottom: 2px solid #eee;
}

h2 {
    font-size: 1.2em;
}

.page {
    background: #99c;
    margin: 0 auto;
    width: 95%;
}

.header {
    background: #ddd;
    padding: 5px 10px;
}

.nav {
    padding: 5px 10px;
    background: #c99;
}

.nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.nav li {
    display: inline;
    margin: 0;
    padding: 0;
}

.hidden {
    display: none;
}

.sidebar {
    float: right;
    min-width: 250px;
    min-height: 300px;
    padding: 10px;
    background: #c9c;
}

.main {
    min-width: 480px;
    float: left;
    padding: 10px;
    background: #9c9;
}

.footer {
    background: #cc9;
    padding: 5px 10px;
    clear: both;
}

.footer p {
    margin: 0;
}