body,
html {
    font-family: sans-serif;
    color: #000;
    background: #a7a09a;
    margin: 0;
    padding: 0;
}

a,
h1,
h2 {
    color: #377ba8;
}

h1,
h2 {
    font-family: 'Georgia', serif;
    margin: 0;
}

h1 {
    border-bottom: 2px solid #eee;
}

h2 {
    font-size: 1.2em;
}

.page {
    background: #99c;
    margin: 0 auto;
    width: 95%;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 50px 50px 100% 50px;
    grid-gap: 5px;
}

.header {
    background: #ddd;
    padding: 5px 10px;
    grid-column: 1 / 13;
    grid-row: 1 / 2;
}

.nav {
    padding: 5px 10px;
    background: #c99;
    grid-column: 1 / 10;
    grid-row: 2 / 3;
}

.nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.nav li {
    margin: 0;
    padding: 0;
    display: inline;
}

.hidden {
    display: none;
}

.sidebar {
    padding: 10px;
    background: #c9c;
    grid-column: 10 / 13;
    grid-row: 2 / 4;
}

.main {
    padding: 10px;
    background: #9c9;
    grid-row: 3 / 4;
    grid-column: 1 / 10;
}

.footer {
    background: #cc9;
    padding: 5px 10px;
    grid-row: 4;
    grid-column: 1 / 13;
}

.footer p {
    margin: 0;
}